---
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';

export async function getStaticPaths() {
  const maps = await getCollection('cartes');
  return maps.map((map) => ({
    params: { slug: map.id },
    props: map,
  }));
}

const map = Astro.props;
const { Content } = await render(map);
---

<!doctype html>
<html lang="fr">
<head><BaseHead title={map.data.title} description={map.data.description} /></head>
<body>
<Header />
<main>
  <h1>{map.data.title}</h1>
  {map.data.imagePath && <Image src={map.data.imagePath} alt={map.data.title} inferSize={true} style="filter: blur(8px); max-width: 100%;" />}
  <p>{map.data.description}</p>
  {map.data.difficultyLevel && <p><strong>Niveau:</strong> {map.data.difficultyLevel}</p>}
  <Content />
</main>
<Footer />
</body>
</html>
